.header {
  background: #1616ea;
  color: #fff;
  padding: 10px;
  text-align: center;

}
.search-result {
  background: #cfcfca;
display: flex;
justify-content: flex-start;

}
.forecast-result{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
section {
  background-color: #1515b1;
}
ul {
  list-style-type: none;
}